<%- include('partials/head') %>


    <body>
        <div class="form-container">
            <form action="/patient" method="post">
                <h3>Login</h3>
                <label for="usrname">Username</label>
                <input type="text" id="usrname" name="usrname" required>
                <br>
                <label for="psw">Password</label>
                <input type="password" id="psw" name="psw"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                    required>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>

    </html>

    <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,} -->

    <style>
        *{
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            transition: all .2s linear;
        }
        .form-container{
            display: flex;
            justify-content: center;
            align-items: center;
            background: url(https://images.unsplash.com/photo-1581360742512-021d5b2157d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1779&q=80) no-repeat;
            background-size: cover;
            min-height: 100vh;
            width: 100vw;
            background-position: center;
        }
        .form-container form{
            height: 560px;
            width: 350px;
            background:rgba(255,255,255,.1) ;
            text-align: center;
            border-radius: 5px;
            box-shadow: 0 5px 15px rgba(0,0,0,.3);
            border-top: 1px solid rgba(255,255,255,.3);
            border-left: 1px solid rgba(255,255,255,.3);
            backdrop-filter: blur(20px);
            font-size: 17px;
            font-weight: 600;
            color:rgb(255, 255, 255);
            margin-left: -18px;
        }
        .form-container form h3{
        font-size: 30px;
        padding: 30px ;
        color:rgb(137 19 19 / 83%);
        letter-spacing: 3px;
        font-weight: bold;
        }
        .form-container form input{
            outline: none;
            border: none;
            height: 40px;
            width: 80%;
            background: rgba(122, 38, 38, 0.801);
            color: rgb(243, 241, 241);
            box-shadow: 0 0 5px rgb(255 247 247) inset;
            font-size: 15px;
            padding: 0 10px;
            margin: 10px 0;
            letter-spacing: 1px;
        }
        .form-container form input[type="submit"]{
            width: 50%;
            cursor: pointer;
            background:linear-gradient(90deg,rgb(87, 26, 26),white);
            margin-top: 30px;
            border-radius: 50px;
            color: black;
        }
        .form-container form input[type="submit"]:hover{
        letter-spacing: 5px;
        }

    </style>