<%- include('partials/head') %>


    <body>
    </body>
    <h5>Username: <%= details.usrname %>
    </h5>
    <h5>Username: <%= details.password %>
    </h5>
    <h5>Username: <%= details.P_Id %>
    </h5>

    </html>